version: '2'
services:
  server1:
    image: nginx:latest
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./site:/usr/share/nginx/html
      - ./ssl/nginx.crt:/etc/nginx/ssl/my-nginx.com.pem
      - ./ssl/nginx.key:/etc/nginx/ssl/my-nginx.com.key
      - ./ssl/nginx-ca.crt:/etc/nginx/ssl/nginx-ca.pem
      - ./ssl/nginx-userA.crt:/etc/nginx/ssl/userA.crt
      - ./ssl/nginx-userB.crt:/etc/nginx/ssl/userB.crt
    ports:
    - "8080:80"
    - "8443:443"
  server2:
    image: httpd:latest
    ports:
    - "80:80"
    - "443:443"
    volumes:
      - ./apache/httpd.conf:/usr/local/apache2/conf/httpd.conf
      - ./site2:/usr/local/apache2/htdocs
      - ./apache/httpd-ssl.conf:/usr/local/apache2/conf/extra/httpd-ssl.conf
      - ./ssl/apache.crt:/usr/local/apache2/conf/server.crt
      - ./ssl/apache.key:/usr/local/apache2/conf/server.key
      - ./ssl/apache-ca.crt:/usr/local/apache2/conf/apache-ca.crt

